html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column; 
  /* 코드 작성 */
}

.box {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 코드 작성 */
}

.box-1 {
  background-color: rgb(248, 223, 227);
}

.box-2 {
  background-color: rgb(247, 194, 202);
}

.box-3 {
  background-color: rgb(246, 142, 158);
}

