* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
.circle-container {
    background-color: beige;
    /* 코드 작성 */
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    
}
}
.circle {
    border-radius: 50%;
    background-color: rgb(66, 69, 255);
    width: 30vw;
    height: 30vw;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 50px;
    /* 코드 작성 */
    display: flex;
    justify-content: center;
    align-items: center;
}

}
.circle-container {
    border-radius: 50%;
    background-color: burlywood;
    background-color: rgb(114, 150, 120);
    width: 30vw;
    height: 30vw;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 50px;
    /* 코드 작성 */
    display: flex;
    justify-content: center;
    align-items: center;

}
